@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

$font-family-sans-serif: "Lato", sans-serif;

$pixel-fondo: #F1FAEE;
$pixel-texto: #1D3557;
$pixel-highlight: #E63946;
$pixel-links: #157ec0;
$pixel-links-hover: #A8DADC;
$pixel-links-used: #4f5888;
$pixel-fondo-preguntas: color.adjust($pixel-links, $alpha: -0.4);
$pixel-fondo-nav: color.adjust($pixel-fondo, $hue: -2deg);


